/*
How to apply on Firefox 57+:

1) menu => help => Troubleshooting Information  => Application Basics  => Profile Folder => click on "Open Folder"
2) If not already exist, create folder "chrome" (case sensetive)/n
3) Inside, if not already exist, create file "userContent.css" (case sensetive)\n
4) Open the file and paste the script inside
5) Restart Firefox, and enjoy your new black background!
*/

@-moz-document url("about:newtab"), url("about:blank")
{
  /* Dark backgound */
  body
  {
    background: #333030 !important;
  }
}

@-moz-document url("about:newtab")
{
  /* Invert icons color to white */
  .icon, .info-option-icon, .block-snippet-button, #onboarding-overlay-close-btn
  {
    -webkit-filter: invert(100%);
  }

  .icon-pin-small, .icon-topsites
  {
    -webkit-filter: invert(0);
  }
  
  /* Dark background when hovering above the settings icon, color is inverted */
  .prefs-button:hover
  {
    background-color: #BDBDBD !important;
  }
  
  /* Dark backgound for all pop-ups */
  .sidebar, .actions, .options, .card-outer, .info-option, .context-menu, #onboarding-overlay-dialog, #snippets-container
  {
    background: #212121 !important;
    border-color: #727272 !important;
  }
  
  /* Give top border to snippet */
  #snippets-container
  {
    border-top: 2px solid #727272 !important;
  }
  
  /* Dark backgound color when highlight preview image didnt load */
  .card-preview-image-outer
  {
    background-color: #181818 !important;
  }
  
  /* Make backgound darker instead of brighter when clicking on firfox tour */
  #onboarding-overlay
  {
    background-color: rgba(20,20,20,0.9) !important;
  }
  
  /* Texts */
  h1, h4, span, #onboarding-header
  {
    color: #EEE !important;
  }

  p
  {
    color: #CCC !important;
  }

  .card-host-name
  {
    color: #AAA !important;
  }
  
  /* Ignore search autocomplete pop-up */
  #searchSuggestionTable span
  {
    color: black !important;
  }
}


/* 
Below is an old version of the script. No need to copy.
If you using old version of firefox, uncomment the part below and the delete the part above
*/
/*
@-moz-document url("about:newtab"), url("about:blank") {
  body {
    background: #333030 !important;
  }
  #newtab-customize-overlay {
    background: #000 !important;
  }
  #newtab-search-submit {  
    background: url("chrome://browser/skin/search-arrow-go.svg#search-arrow-go") center center no-repeat !important;
    background-color: #f5f5f5 !important;
  }
  #newtab-search-submit:hover { 
    border: none !important;
  }
  }
*/



  .outer-wrapper > main
  {
    width: 1720px !important;
     margin: 0 auto !important;
  }



body {
	--newtab-background-color: Background!important;
	--newtab-background-image:
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
background-color: #840b2a;
	--newtab-border-primary-color: #B1B1B3!important;
	--newtab-border-secondary-color: #D7D7DB!important;
	--newtab-button-primary-color: #0060DF!important;
	--newtab-button-secondary-color: inherit!important;
	--newtab-element-active-color: rgba(215, 215, 219, 0.6)!important;
	--newtab-element-hover-color: #EDEDF0!important;
	--newtab-icon-primary-color: rgba(12, 12, 13, 0.8)!important;
	--newtab-icon-secondary-color: rgba(12, 12, 13, 0.6)!important;
	--newtab-icon-tertiary-color: #D7D7DB!important;
	--newtab-inner-box-shadow-color: rgba(0, 0, 0, 0.1)!important;
	--newtab-link-primary-color: #0060DF!important;
	--newtab-link-secondary-color: #008EA4!important;
	--newtab-text-conditional-color: #4A4A4F!important;
	--newtab-text-primary-color: #0C0C0D!important;
	--newtab-text-secondary-color: #737373!important;
	--newtab-text-tertiary-color: #737373!important;
	--newtab-textbox-background-color: #FFF!important;
	--newtab-textbox-border: rgba(12, 12, 13, 0.2)!important;
	--newtab-textbox-focus-color: #0060DF!important;
	--newtab-textbox-focus-boxshadow: 0 0 0 1px #0060DF, 0 0 0 4px rgba(0, 96, 223, 0.3)!important;
	--newtab-contextmenu-background-color: #F9F9FA!important;
	--newtab-contextmenu-button-color: #FFF!important;
	--newtab-modal-color: #FFF!important;
	--newtab-overlay-color: rgba(237, 237, 240, 0.8)!important;
	--newtab-section-header-text-color: #737373!important;
	--newtab-section-navigation-text-color: #737373!important;
	--newtab-section-active-contextmenu-color: #0C0C0D!important;
	--newtab-search-border-color: highlight transparent!important;
	--newtab-search-dropdown-color: Background !important;
	--newtab-search-dropdown-header-color: ThreeDShadow!important;
	--newtab-search-icon-color: highlight!important;
	--newtab-topsites-background-color: #FFF!important;
	--newtab-topsites-icon-shadow: inset 0 0 0 1px var(--newtab-inner-box-shadow-color)!important;
	--newtab-topsites-label-color: inherit!important;
	--newtab-card-active-outline-color: #D7D7DB!important;
	--newtab-card-background-color: #FFF!important;
	--newtab-card-hairline-color: rgba(0, 0, 0, 0.1)!important;
	--newtab-card-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.1)!important;
	--newtab-snippets-background-color: #FFF!important;
	--newtab-snippets-hairline-color: transparent!important;
	}
/*

.search-wrapper {
  cursor: default!important;
  display: flex!important;
  height: 35px!important;
  margin-bottom: 20px!important;
  position: relative!important;
  width: 100%!important;
 }


.search-wrapper input {
    background: Background Background 8px center/18px no-repeat!important;
    border: solid 1px highlight!important;
    box-shadow: 0 1px 4px 0 highlight, 0 0 0 1px Background!important;
    font-size: 15px!important;
    -moz-context-properties: fill!important;
    fill: inherit!important;
    padding: 0!important;
    padding-inline-end: 36px!important;
    padding-inline-start: 34px!important;
    width: 100%!important; 
color: -moz-fieldtext !important;
  -moz-appearance: textfield !important;}


    .search-wrapper input:dir(rtl) {
      background-position-x: right 8px!important; }



  .search-wrapper:hover input {
    box-shadow: 0 1px 4px 0 highlight, 0 0 0 1px Background!important; }


  .search-wrapper:active input,
  .search-wrapper input:focus {
    border: 1px solid Highlight!important;
    box-shadow: Highlight !important; }


  .search-wrapper .search-button {
    background: url("chrome://browser/skin/forward.svg") no-repeat center center!important;
    background-size: 16px 16px!important;
    border: 0!important;
    border-radius: 0 3px 3px 0!important;
    -moz-context-properties: fill!important;
    fill: inherit!important;
    height: 100%!important;
    offset-inline-end: 0!important;
    position: absolute!important;
    width: 36px!important; }


    .search-wrapper .search-button:focus, .search-wrapper .search-button:hover {
      background-color: Background !important;
      cursor: pointer!important; }


    .search-wrapper .search-button:active {
      background-color: Background !important; 
}


    .search-wrapper .search-button:dir(rtl) {
      transform: scaleX(-1)!important; }
*/
.search-wrapper {
  -moz-appearance: textfield !important; 
box-shadow: -8px 4px 7px 0px inset highlight !important;}

.search-wrapper input {
color: -moz-fieldtext !important;
    background: inherit!important;
    border: inherit!important;
    box-shadow: none!important;
    font-size: inherit!important;
    -moz-context-properties: inherit!important;
    fill: inherit!important;
    padding: inherit!important;
    padding-inline-end: inherit!important;
    padding-inline-start: inherit!important;
 }
 
 .search-wrapper input:dir(rtl) {
      background-position-x: right 8px!important; }



  .search-wrapper:hover input {
    box-shadow: none !important; }


  .search-wrapper:active input,
  .search-wrapper input:focus {
    border:  0px !important;
    box-shadow: none !important; }


  .search-wrapper .search-button {
    background: url("chrome://browser/skin/forward.svg") no-repeat center center!important;
    background-size: 16px 16px!important;
    border: 0!important;
    border-radius: 0 3px 3px 0!important;
    -moz-context-properties: fill!important;
    fill: inherit!important;
    height: 100%!important;
    offset-inline-end: 0!important;
    position: absolute!important;
    width: 36px!important; }


    .search-wrapper .search-button:focus, .search-wrapper .search-button:hover {
      background-color: Background !important;
      cursor: pointer!important; }


    .search-wrapper .search-button:active {
      background-color: Background !important; 
 
 
.tile{
-moz-appearance: button !important;}
}

